.features {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.features h1 {
    font-size: 50px;
}
.features .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features .container .card {
    width: 300px;
    height: 75%;
    margin: 0 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -8px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    transition: all 1s ease;
}

.features .container .card:hover {
    transform: scale(1.1);
}
.features .container .card .top {
    display: flex;
    align-items: center;
    justify-content: center;
}


.features .container .card .center {
    padding: 10px;
    border-radius: 10px;
    background-color: #faf0f5;
}

.features .container .card .center p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
 
}




